<p id="notice"><%= notice %></p>

<h1 class='text-center'>What's in the fridge?</h1>
  <%= react_component 'GroceryList', { groceries: @in_stock } %>
<br>
<footer class='footer'>
<%= link_to 'Something new?', new_grocery_path, id: 'new-grocery' %>
</footer>
