<p id="notice"><%= notice %></p>
  <%= react_component 'GroceryList', {
    in_stock: @in_stock,
    running_low: @running_low,
    out_of_stock: @out_of_stock,
  } %>
<br>
<div class='row'>
  <%= link_to 'Something new?', new_grocery_path, id: 'new-grocery', class: 'button' %>
</div>
