<div class='container'>
  <div class='row'>
    <h1>New Grocery</h1>
  </div>

  <%= render 'form' %>

  <div class='row'>
    <%= link_to 'Back', groceries_path, class: 'button expand' %>
  </div>
</div>
