// Place all the styles related to the Groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$out-of-stock-color: #ffb2b2;
$running-low-color: #ffff7f;
$in-stock-color: #b2d8b2;

.grocery-list {
  list-style-type: none;
}

.in_stock {
  background-color: $in-stock-color;
}

.running_low {
  background-color: $running-low-color;
}

.out_of_stock {
  background-color: $out-of-stock-color;
}

.grocery {
  font-size: 5em;
  line-height: 2.2em;
}

